.title{
    display: flex;
    justify-content: center;  /* Căn giữa theo chiều ngang */
    align-items: center;      /* Căn giữa theo chiều dọc */
    position: absolute;       /* Để có thể sử dụng top */
    top: -20px;                /* Đặt khoảng cách từ trên là 10px */
    left: 50%;                /* Căn giữa theo chiều ngang */
    transform: translateX(-50%); /* Đảm bảo phần tử được căn chính xác ở giữa */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}

.download{
    display: flex;
    justify-content: center;  /* Căn giữa theo chiều ngang */
    align-items: center;      /* Căn giữa theo chiều dọc */
    position: absolute;       /* Để có thể sử dụng top */
    bottom: 2px;                /* Đặt khoảng cách từ trên là 10px */
    left: 50%;                /* Căn giữa theo chiều ngang */
    transform: translateX(-50%); /* Đảm bảo phần tử được căn chính xác ở giữa */
    text-decoration: none;
    color: white;
}

.img_cv{
 width: 410px;
 margin-top: -22px
}

/* From Uiverse.io by aronnomridha */ 
.authorized-reseller-api-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 1);
    padding: 0.625rem 0.5rem;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    outline: 0;
    transition: all 0.8s;
    text-decoration: none;
  }
  
  .authorized-reseller-api-btn:hover {
    text-decoration: underline;
  }
  
  .authorized-reseller-api-btn:active {
  }
  
  .texts {
    margin-left: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
  }
  
  .text-1 {
    font-size: 0.75rem;
    font-size: 14px;
  }
  
  .text-2 {
    font-weight: 600;
    margin-bottom: 0.25rem;
    font-size: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .img_cv{
      width: 350px;
      margin-top: 50px
     }
     
     .title{
      font-size: 40px;
      top: 90px;
      width: 500px;
  }
  .download{
    bottom: 50px;
  }
  }

  @media screen and (max-width: 480px) {
    .img_cv{
      width: 300px;
      margin-top: 50px
     }
     
     .title{
      font-size: 40px;
      top: 90px;
      width: 500px;
  }
  .download{
    bottom: 50px;
  }
  }